@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss /nesting;

:root {
  --theme-color: #0046be;
  --background-color: #ffffff;
  --accent-color: #fff200;
  --body-color: #1d252c;
  --important-color: theme(colors.red.900);
  --link-color: inherit;
  --link-hover-color: inherit;
  --info-color: theme(colors.theme);
  --success-color: theme(colors.green.500);
  --warning-color: theme(colors.yellow.600);
  --error-color: theme(colors.red.600);
}

@layer base {
  body {
    @apply bg-background text-body antialiased;
  }

  h1 {
    @apply text-3xl font-semibold xl:text-5xl;
  }
  h2 {
    @apply text-2xl font-semibold xl:text-3xl;
  }
  h3 {
    @apply text-xl font-semibold xl:text-2xl;
  }
  h4 {
    @apply text-lg font-bold xl:text-xl;
  }
  h5 {
    @apply text-base font-bold xl:text-lg;
  }
  h6 {
    @apply text-sm font-extrabold xl:text-base;
  }
  p {
    @apply text-sm font-medium xl:text-base;
  }
  small {
    @apply text-xs font-semibold xl:text-sm;
  }
  a {
    @apply cursor-pointer text-sm font-semibold text-link transition-colors duration-150 hover:text-link-hover xl:text-base;
  }

  section {
    @apply mb-12 xl:mb-24;
  }

  :where(input[type="text"], select):not(.generic) {
    @apply max-w-full rounded-sm border border-gray-600 p-4 ring-4 ring-transparent ring-offset-1 ring-offset-transparent transition-[box-shadow] placeholder:text-body focus-visible:border-blue-900 focus-visible:ring-blue-100 focus-visible:ring-offset-blue-900;
  }

  :focus {
    outline: 0;
  }

  :focus-visible {
    outline: black auto 1px;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 80vh;
  }
  @supports (min-height: 100dvh) {
    .min-h-screen {
      min-height: 100dvh;
    }
  }
  .h-screen {
    height: 80vh;
  }
  @supports (height: 100dvh) {
    .h-screen {
      height: 100dvh;
    }
  }
}

::selection {
  @apply bg-theme text-white;
}

/* To make slides stretch */
.swiper-wrapper .swiper-slide {
  height: auto;

  & > * {
    height: 100%;
  }
}

/* Styles for pinned-product section */
#pinned-product {
  --swiper-pagination-color: #001e73;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;

  & .swiper-wrapper {
    @apply pb-4 pt-8;
  }

  & .swiper-pagination-bullet:hover {
    --swiper-pagination-bullet-inactive-color: var(--theme-color);
    --swiper-pagination-bullet-inactive-opacity: 1;
  }

  & .swiper-prev-shadow:has(button:not(:disabled)) {
    box-shadow: 16px 0 30px -20px rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  & .swiper-next-shadow:has(button:not(:disabled)) {
    box-shadow: -16px 0 30px -20px rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  & .swiper-pagination {
    position: static;
  }
}

.currency::first-letter {
  font-size: 0.8em;
}

svg {
  overflow: visible;
}

svg.clip-round {
  clip-path: circle(50%);
}

/* Accessibility skip button */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* toastify styles override */
:root:root {
  --toastify-color-info: theme(colors.info);
  --toastify-color-success: theme(colors.success);
  --toastify-color-warning: theme(colors.warning);
  --toastify-color-error: theme(colors.error);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-toast-min-height: 3rem;
  --toastify-font-family: theme(fontFamily.sans);
  --toastify-z-index: 9999;

  /* //Used only for colored theme */
  --toastify-text-color-info: theme(colors.white);
  --toastify-text-color-success: theme(colors.white);
  --toastify-text-color-warning: theme(colors.white);
  --toastify-text-color-error: theme(colors.white);
}
